@font-face {
	font-family: 'Cursed Timer';
	src: url('../CursedTimerUlil-Aznm.ttf') format(truetype);
}

body {
	margin: 0;
	height: 100vh;
	font-family: 'Cursed Timer', sans-serif;
	background: linear-gradient(0deg, rgba(238,238,238,1) 42%, rgba(142,140,140,1) 100%); 

	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	padding: 4em 0;
	width: 90%;
	max-width: 600px;
	background-color: #1B244A;
	background-image: url(../images/montylov-uMqz87f22mg-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	border-radius: 20px;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, .22);

	display: flex;
	justify-content: space-around;
}

.score__title {
	margin: 0 0 .3em;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	color: #1B244A;
}

#score__counter__home,
#score__counter__guest {
	margin: 0;
	padding: .2em 0 .04em;
	width: 10rem;
	text-align: center;
	font-size: 4.6rem;
	color: #F94F6D;
	background-color: #080001;
	border-radius: 5px;
}

.btn-wrapper {
	display: flex;
	justify-content: space-between;
}

.score__btn {
	margin-top: 2em;
	padding: .7em .65em;
	color: #1B244A;
	border: 2px solid #1B244A;
	border-radius: 5px;
	text-decoration: none;
	transition-property: scale background-color;
	transition-duration: 100ms;
}

.score__btn:focus,
.score__btn:hover {
	scale: 1.05;
	background-color: #F94F6D;
}

.score__btn:not(:hover) {
	scale: 1;
	background-color: initial;
}
